# 데이콘_Pandas 튜토리얼 
- (Ch 01 - 07)

### Ch05 통계함수
- 목표 : 다양한 통계함수를 DataFrame에 적용

In [1]:
import pandas as pd

data = pd.read_csv('data/data03.csv')
data

    도시       인구수        남자        여자
0   서울   9741381   4757642   4984229
1   부산   3416918   1680933   1735985
2   인천   2925967   1472081   1453886
3   대구   2453041   1218326   1234715
4   대전   1525849    765718    760131
5   광주   1496172    745122    751050
6   수원   1193894    601097    592797
7   울산   1147037    589233    557804
8   고양   1068641    523803    544838
9   용인   1061440    526824    534617
10  총합  26030340  12880779  13150052

- DataFrame['컬럼'].unique() : 컬럼의 고유값 리스트 반환
   
   
- DataFrame['컬럼'].value_counts() : 컬럼의 고유값 카운트 반환

In [2]:
# 특정 column의 고유값 리스트 반환
data['도시'].unique()

array(['서울', '부산', '인천', '대구', '대전', '광주', '수원', '울산', '고양', '용인', '총합'],
      dtype=object)

In [5]:
# 특정 column의 고유값 카운트 반환
data['도시'].value_counts()

수원    1
광주    1
고양    1
용인    1
울산    1
대전    1
인천    1
총합    1
부산    1
서울    1
대구    1
Name: 도시, dtype: int64

#### 수치를 이용한 함수

pd.DataFrame.sum() : 각 컬럼의 합계를 반환

pd.DataFrame.max() : 각 컬럼의 최대값을 반환

pd.DataFrame.idxmax() : 특정 컬럼의 최대값의 인덱스 반환

pd.DataFrame.min() : 각 컬럼의 최소값을 반환

pd.DataFrame.idxmin() : 특정 컬럼의 최소값의 인덱스 반환

pd.DataFrame.mean() : 각 컬럼의 평균을 반환

pd.DataFrame.median() : 각 컬럼의 중앙값을 반환

pd.DataFrame.var() : 각 컬럼의 분산을 반환

pd.DataFrame.std() : 각 컬럼의 표준편차를 반환

In [6]:
# 수치 계산에 사용할 데이터만 선택하여 새로운 dataframe에 저장
df = data.iloc[:10, 1:]
df

       인구수       남자       여자
0  9741381  4757642  4984229
1  3416918  1680933  1735985
2  2925967  1472081  1453886
3  2453041  1218326  1234715
4  1525849   765718   760131
5  1496172   745122   751050
6  1193894   601097   592797
7  1147037   589233   557804
8  1068641   523803   544838
9  1061440   526824   534617

In [7]:
# 각 컬럼의 합
df.sum()

인구수    26030340
남자     12880779
여자     13150052
dtype: int64

In [8]:
# 각 컬럼중 최댓값 
df.max()

인구수    9741381
남자     4757642
여자     4984229
dtype: int64

In [11]:
#각 컬럼 최댓값의 index 반환 
print ( df['인구수'].idxmax()) 
print ( df['남자'].idxmax()) 
print ( df['여자'].idxmax())

0
0
0

In [12]:
# 컬럼 최댓값의 index를 이용하여 인구가 가장 많은 도시 찾기 
#data.loc[ 가장 큰 값의 index ]['도시']
data.loc[df['인구수'].idxmax()]['도시']

'서울'

In [13]:
# 각 컬럼의 최소값을 반환
df.min()

인구수    1061440
남자      523803
여자      534617
dtype: int64

In [14]:
# 특정 컬럼의 최소값의 인덱스 반환
df['인구수'].idxmin()

9

In [15]:
# 컬럼 최솟값의 index를 이용하여 인구가 가장 적은 도시 찾기 
data.loc[df['인구수'].idxmin()]['도시']

'용인'

In [17]:
# 각 컬럼의 중앙값을 반환
df.mean()

인구수    2603034.0
남자     1288077.9
여자     1315005.2
dtype: float64

In [18]:
# 각 컬럼의 분산을 반환
df.var()

인구수    6.996348e+12
남자     1.658060e+12
여자     1.843244e+12
dtype: float64

In [16]:
# 각 컬럼의 표준편차를 반환
df.std()

인구수    2.645061e+06
남자     1.287657e+06
여자     1.357661e+06
dtype: float64

# ch 5 과제

In [27]:
len(df)

10

In [33]:

df_sum

26030340

In [56]:
problem = ['총합', '최대값', '최소값' ,'평균값','중앙값','분산','표준편차']

for i in ['인구수','남자','여자']:
    df_sum = df[i].sum() 
    df_max = df[i].max()
    df_min= df[i].min()
    df_ave = int(df_sum/len(df))
    df_mean_ = df[i].mean()
    df_var = df[i].var()
    df_std = df[i].std()
    if i == '인구수': 
            population = [df_sum, df_max, df_min, df_ave,df_mean_, df_var, df_std]
            
    elif i == '남자': 
            man = [df_sum, df_max, df_min, df_ave,df_mean_, df_var, df_std]
            
            
    elif i == '여자': 
            woman = [df_sum, df_max, df_min, df_ave,df_mean_, df_var, df_std]
    
# print(population, man, woman)
# list(map(int, list_a))

population = list(map(int,population))

man = list(map(int,man))

woman = list(map(int,woman))


submission = {'문제':problem,
            '인구수':population,
             '남자': man,
              '여자': woman} 

submission = pd.DataFrame(submission)
submission

     문제            인구수             남자             여자
0    총합       26030340       12880779       13150052
1   최대값        9741381        4757642        4984229
2   최소값        1061440         523803         534617
3   평균값        2603034        1288077        1315005
4   중앙값        2603034        1288077        1315005
5    분산  6996348492729  1658060465632  1843243791648
6  표준편차        2645061        1287656        1357661

In [57]:
submission.to_csv('data/data5_pandas.csv', index= False)

pd.read_csv('data/data5_pandas.csv')

     문제            인구수             남자             여자
0    총합       26030340       12880779       13150052
1   최대값        9741381        4757642        4984229
2   최소값        1061440         523803         534617
3   평균값        2603034        1288077        1315005
4   중앙값        2603034        1288077        1315005
5    분산  6996348492729  1658060465632  1843243791648
6  표준편차        2645061        1287656        1357661