# 데이콘_Pandas 튜토리얼 
- (Ch 01 - 07)

### Ch01 CSV 파일과 데이터프레임

데이터 url : https://dacon.io/competitions/official/235605/data/

- 판다스 : 데이터 조작 및 분석을 위한 패키지

#### pandas 모듈 불러오기

In [2]:
import pandas as pd


#### csv 파일 불러오기
- read_csv() 함수를 이용하여 csv파일을 쉽게 불러올 수 있습니다.
- 괄호 안에는 경로를 입력합니다.
- 파일의 경로는 절대경로, 상대경로 두 가지 사용 가능합니다.

##### 절대경로 : 최상위 위치부터 시작하여 파일의 위치까지 내려가는 경로  
    - ex) c:/jupyter/pandas/data/대한민국_주요_도시_인구수.csv  
  
###### 상대경로 : 작성중인 스크립트의 저장 위치에서 파일 위치까지 내려가는 경로  
    - ex) data/대한민국_주요_도시_인구수.csv

In [10]:
# 절대 경로 C:/Users/82103/2_데이콘/data/대한민국_주요_도시_인구수.csv  
path_1 = 'C:/Users/82103/2_데이콘/data/대한민국_주요_도시_인구수.csv  '
# 상대 경로 data/ 대한민국_주요_도시_인구수.csv  
path_2 = 'data/대한민국_주요_도시_인구수.csv  '
pd.read_csv(path_2)

data = pd.read_csv(path_2)
data

   도시      인구수
0  서울  9741381
1  부산  3416918
2  인천  2925967
3  대구  2453041
4  대전  1525849
5  광주  1496172
6  수원  1193894
7  울산  1147037
8  고양  1068641
9  용인  1061440

### shape, head, tail 함수 사용

##### shae 함수
-  csv 데이터의 사이즈를 로우, 컬럼 튜플 형태로 표현 
-  data = (10x2) 사이즈 입니다.

In [12]:

data.shape

(10, 2)

##### head(),  tail() 
- data.head(n) : 데이터의 상단 n개의 로우(행) 데이터 출력
- data.tail(n) : 데이터의 하단 n개의 로우(행) 데이터 출력  
- Default = 5입니다.

In [40]:
# print(data.head() ,'\n ... '*3+'\n' ,data.tail() ,'\n'*5)

print(data.head(3) ,'\n ... '*3+'\n' ,data.tail(3))

   도시      인구수
0  서울  9741381
1  부산  3416918
2  인천  2925967
 ...
 ...
 ...
    도시      인구수
7  울산  1147037
8  고양  1068641
9  용인  1061440

### 정보확인 (info)
- 컬럼의 개수
- 로우의 개수
- 각 컬럼의 이름 
- 자료형 등의 정보를 알 수 있습니다.

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도시      10 non-null     object
 1   인구수     10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

#### 특정 컬럼을 선택하는 2가지 방법
- DataFrame['특정 컬럼']
- DataFrame.컬럼 (특정컬럼에 띄어쓰기가 있을 경우 사용 불가)

In [50]:
print(data['도시'], '\n',data.도시)
print(data['인구수'],'\n', data.인구수 )

0    서울
1    부산
2    인천
3    대구
4    대전
5    광주
6    수원
7    울산
8    고양
9    용인
Name: 도시, dtype: object
 0    서울
1    부산
2    인천
3    대구
4    대전
5    광주
6    수원
7    울산
8    고양
9    용인
Name: 도시, dtype: object
0    9741381
1    3416918
2    2925967
3    2453041
4    1525849
5    1496172
6    1193894
7    1147037
8    1068641
9    1061440
Name: 인구수, dtype: int64
 0    9741381
1    3416918
2    2925967
3    2453041
4    1525849
5    1496172
6    1193894
7    1147037
8    1068641
9    1061440
Name: 인구수, dtype: int64

In [55]:
from IPython.display import Image
# Image('data/123.png')