# [파이썬으로 시작하는 데이터 사이언스]1_2(Pandas)

##  Pandas : 액셀에 비해 대용량 데이터 처리가능,

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 공식문서 활용
pd.DataFrame?

In [3]:
df = pd.DataFrame( {"a" : [4,5,6], "b" : [7,8,9], "c" : [10,11,12]},      # columns
                                                         index =[1,2,3] ) # rows

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
# series 형태로
df['a']

1    4
2    5
3    6
Name: a, dtype: int64

In [5]:
# dataframe 형태로
df[['a']]

   a
1  4
2  5
3  6

In [6]:
# subset
print(df['a'] > 7,'\n')
df[df['a'] > 5]

1    False
2    False
3    False
Name: a, dtype: bool

   a  b   c
3  6  9  12

In [10]:
df[['a','b']]
df['a']

1    4
2    5
3    6
Name: a, dtype: int64