In [1]:
# %mv ~/Dow 여기에 tap키 누르면, 다운로드 경로 자동완성
%mv C:/Users/82103/Downloads/

# %mv C:/Users/82103/Downloads/도로교통     tap 누르면 자동완성
%mv "C:/Users/82103/Downloads/도로교통공단_시도 시군구별 교통사고 통계_20201214.csv" 

# %mv "C:/Users/82103/Downloads/도로교통공단_시도 시군구별 교통사고 통계_20201214.csv"  여기에 한칸 띄고 . 누르면 쥬피터 파일 위치에 파일 복사
%move "C:/Users/82103/Downloads/도로교통공단_시도 시군구별 교통사고 통계_20201214.csv".

UsageError: Line magic function `%mv` not found.

In [5]:
%ls # 같은 폴더 내에 있는 파일들 출력

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 7A6A-2C22

 C:\Users\82103\Desktop\jupyter\[부스트코스] 디렉터리


 C:\Users\82103\Desktop\jupyter\[부스트코스] 디렉터리


 C:\Users\82103\Desktop\jupyter\[부스트코스] 디렉터리


 C:\Users\82103\Desktop\jupyter\[부스트코스] 디렉터리


 C:\Users\82103\Desktop\jupyter\[부스트코스] 디렉터리


 C:\Users\82103\Desktop\jupyter\[부스트코스] 디렉터리


 C:\Users\82103\Desktop\jupyter\[부스트코스] 디렉터리

파일을 찾을 수 없습니다.

In [2]:
import pandas as pd

In [3]:
# UnicodeDecodeError : shift + tab키를 눌러 도움말 보기, 
# 한글로 작성된 것은 cp949로 인코딩 해야함
# pd.read_csv('C:/Users/82103/Downloads/도로교통공단_시도 시군구별 교통사고 통계_20201214.csv', encoding = 'cp949')
pd.read_csv('./data/도로교통공단_시도 시군구별 교통사고 통계_20201214.csv', encoding = 'cp949')

     시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수
0    서울   종로구  1133     6   312  1075     172
1    서울    중구  1184     5   365  1083     167
2    서울   용산구  1187    10   316  1228      70
3    서울   성동구  1091    13   294  1063      82
4    서울  동대문구  1565    15   507  1340     141
..   ..   ...   ...   ...   ...   ...     ...
224  울산    남구  1383     9   491  1299     135
225  울산    동구   628     1   211   588      18
226  울산    북구   693    13   282   731      97
227  울산   울주군   906    27   350   899     124
228  세종   세종시   922    15   382   893      26

[229 rows x 7 columns]

In [4]:
# 쥬피터 노트북이 있는 폴더의 경로를 출력
%pwd

'C:\\Users\\82103\\Desktop\\jupyter\\[부스트코스]'